# Solar Wind investigation + Classification algorithm

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

## Data Cleaning and exploration

In [ ]:
df = pd.read_csv('solar_wind.csv')
df.head()

,period,timedelta,bx_gse,by_gse,bz_gse,theta_gse,phi_gse,bx_gsm,by_gsm,bz_gsm,theta_gsm,phi_gsm,bt,density,speed,temperature,source
0,train_a,0 days 00:00:00,-5.55,3.00,1.25,11.09,153.37,-5.55,3.00,1.25,11.09,153.37,6.80,1.53,383.92,110237.0,ac
1,train_a,0 days 00:01:00,-5.58,3.16,1.17,10.10,151.91,-5.58,3.16,1.17,10.10,151.91,6.83,1.69,381.79,123825.0,ac
2,train_a,0 days 00:02:00,-5.15,3.66,0.85,7.87,146.04,-5.15,3.66,0.85,7.87,146.04,6.77,1.97,389.11,82548.0,ac
3,train_a,0 days 00:03:00,-5.20,3.68,0.68,6.17,146.17,-5.20,3.68,0.68,6.17,146.17,6.74,1.97,389.11,82548.0,ac
4,train_a,0 days 00:04:00,-5.12,3.68,0.49,4.62,145.72,-5.12,3.68,0.49,4.62,145.72,6.65,1.77,384.26,94269.0,ac

In [ ]:
df = df.drop([
    'bx_gsm',
    'by_gsm',
    'bz_gsm',
    'density',
    'source',
    'temperature',
    'phi_gsm',], axis=1)

In [ ]:
df.shape

(8392320, 10)

In [ ]:
train_a = df.loc[df['period'] == 'train_a']
train_a.shape

(1729440, 10)

In [ ]:
train_a

,period,timedelta,bx_gse,by_gse,bz_gse,theta_gse,phi_gse,theta_gsm,bt,speed
0,train_a,0 days 00:00:00,-5.55,3.00,1.25,11.09,153.37,11.09,6.80,383.92
1,train_a,0 days 00:01:00,-5.58,3.16,1.17,10.10,151.91,10.10,6.83,381.79
2,train_a,0 days 00:02:00,-5.15,3.66,0.85,7.87,146.04,7.87,6.77,389.11
3,train_a,0 days 00:03:00,-5.20,3.68,0.68,6.17,146.17,6.17,6.74,389.11
4,train_a,0 days 00:04:00,-5.12,3.68,0.49,4.62,145.72,4.62,6.65,384.26
...,...,...,...,...,...,...,...,...,...,...
1729435,train_a,1200 days 23:55:00,-4.07,3.06,-1.54,-16.78,143.08,-5.09,5.32,339.02
1729436,train_a,1200 days 23:56:00,-3.35,3.40,-1.43,-16.63,134.59,-2.98,4.98,338.51
1729437,train_a,1200 days 23:57:00,-3.27,3.42,-1.29,-15.22,133.66,-1.42,4.90,342.72
1729438,train_a,1200 days 23:58:00,-3.26,3.47,-1.07,-12.72,133.19,1.11,4.88,338.74
1729439,train_a,1200 days 23:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Drop missing values

In [ ]:
clean_train_a = train_a.dropna()

In [ ]:
train_a = df.loc[df['period'] == 'train_a']
train_a['bx_gse'].max()

np.float64(41.13)

In [ ]:
standard_deviation = train_a['bx_gse'].std()
lower_threshold = standard_deviation * -3
higher_threshold = standard_deviation * 3
lower_threshold

np.float64(-13.017637037916273)

In [ ]:
higher_threshold

np.float64(13.017637037916273)

In [ ]:
fig, ax = plt.subplots(figsize=(10,6))


ax.plot(clean_train_a.index, clean_train_a['bx_gse'], color= 'skyblue', marker = 'o')
ax.plot(clean_train_a.index, clean_train_a['by_gse'], color='salmon', marker='o')
ax.plot(clean_train_a.index, clean_train_a['bz_gse'], color = 'lightgray', marker='o')

ax.axhline(y=higher_threshold, color='black', linestyle='dashed')
ax.axhline(y=lower_threshold, color='black', linestyle = 'dashed')


ax.set_xlabel('Time')
ax.set_ylabel('Magentic strength in μT')



plt.savefig('plot.png')